.App {
  text-align: center;
  background:#898ca9;
  margin: -50px 0px;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0f2384;
}
/*a40388f5a8ab13b9aec1eb7fdd26f053
aefb6814a360d4c0*/